
a{
    text-decoration: none;
    color: gray;
}

a:hover{
    text-decoration:underline;
}

.hr{
    color: white;
}

.input p{
    font-size: 20px;
    text-align:justify;
}

.input input{
    width: 50%;
    height: 30px;
    margin-top: 20px;
}

input{
    width: 50%;
    height: 30px;
}
.create-event{
    color: black;
    font-weight: bold;
}

.create-event:hover{
    text-decoration: none;
}

.home{
    text-decoration: underline;
    font-weight: bold;
}

button{
    background-color: rgba(66, 145, 218, 0.858);
    width: 100%;
    height: 55px;
    border-style: none;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.remove-btn{
    width: 250px;
    height: 50px;
    border-radius: 1rem;
    margin-top: 15px;
    font-size: 15px;
}


