.search{
    display: flex;
    position: relative;
    margin-left: 80%;
    padding: 20px;
}

.search i{
    position: absolute;
    margin-left: 75%;
    margin-top: 5%;
}

.search input{
    width: 300px;
    height: 50px;
    padding-left: 5px;
    border-radius: 2rem;
}

.div1,
.div2{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
}

.div1 button,
.div2 button{
    width: 200px;
    height: 40px;
    border-radius: 2rem;
    background-color: rgba(66, 145, 218, 0.858);
    color: white;
    border-style: none;
}