body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(66, 145, 218, 0.858);
    position: fixed;
    width: 99%;
    margin-top: -21px;
    padding: 10px;
}

.head{
    display: flex;
    gap: 20px;
    font-weight: bold;
    padding: 15px;
}

ul{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style: none;
    margin-right: 50px;
    padding: 15px;
}

.ul1 a{
    color: black;
}

nav img{
    width: 50px;
    height: 50px;
}


.container h1{
    padding-top: 110px;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    text-decoration:underline;
}

hr{
    color: white;
}
